.usage-img {
  width: 60%;
  height: auto;
  margin: auto;
}
.usage-img-workflow {
  width: 80%;
  height: auto;
  border: 1px solid black;
}
.usage-image-right {
  width: 75%;
  height: auto;
  border: 1px solid black;
  margin: auto;
}
.standards-row-usage {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
