.semantic-container {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.semantic-row {
  margin-bottom: 7em;
}
.semantic-hero-text-col {
  margin-top: 1rem;
}
.semantic-hero-img-col {
  text-align: center;
}
.semantic-hero-img {
  height: 400px;
  width: auto;
  margin: auto;
  border: 1px solid black;
}
.semantic-hero-h1 {
  color: #004880;
  margin-bottom: 2rem;
}
.semantic-hero-button {
  background-color: #004880;
  border: none;
  margin-top: 1rem;
}
.semantic-hero-button:hover {
  background-color: #004880;
}
.semantic-button-link {
  text-decoration: none;
  color: white;
}
.hero-menu-para {
  font-size: 20px;
}
.semantic-dom-img {
  width: 80%;
  height: auto;
}
.svg-img {
  border: none;
  width: 75%;
  height: auto;
}
.semantic-hero-img-last {
  height: 400px;
  width: auto;
  border: 1px solid black;
}
.semantic-detailed-img {
  width: 80%;
  border: 1px solid black;
}
.semantic-img-modal {
  width: 70%;
  border: 1px solid black;
}
.standards-row {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.standards-column {
  text-align: right;
}
.standards-h1 {
  color: #004880;
  margin-bottom: 1rem;
}
.standards-img {
  width: 70%;
  height: auto;
  margin: auto;
}
.standards-h3 {
  color: #004880;
}
.standards-ul {
  margin-left: 1rem;
}
.standards-li {
  color: #004880;
  font-size: 22px;
  margin-top: 2rem;
}
