.hero-row {
  margin-top: 3rem;
}
.hero-row-text-column {
  margin-top: 4rem;
}
.hero-row-img-column {
  text-align: center;
}
.hero-row-img {
  margin: auto;
  margin-top: 2rem;
  height: 500px;
  width: auto;
  border: 1px solid black;
}
.hero-h1 {
  color: #004880;
  margin-bottom: 2rem;
}
.hero-menu-div {
  margin-top: 30px;
  color: #004880;
}
.hero-menu-para {
  font-size: 22px;
}
.check-icon {
  margin-right: 20px;
}
.content-row {
  margin-top: 7rem;
  margin-bottom: 6rem;
}
.content-heading-div {
  text-align: center;
  margin-bottom: 4rem;
}
.content-h1 {
  color: #004880;
  margin: auto;
}
.content-col {
  text-align: center;
}
.popup-img-svg {
  width: 500px;
  height: auto;
}
.full-img-svg {
  height: 400px;
  width: auto;
  border: 1px solid black;
}
.home-hero-para {
  color: #004880;
}
