.main-form-container {
  margin-top: 8rem;
  margin-bottom: 5rem;
  min-height: 67vh;
}
.form-mail-img {
  width: 90%;
  height: auto;
  margin: auto;
}
.form-h1 {
  color: #004880;
  margin-bottom: 3rem;
}
.contact-col {
  margin-top: 2rem;
}
.form-submit-button {
  background-color: #004880;
  border: none;
}
.form-submit-button:hover {
  background-color: #004880;
}
.contact-row {
  margin-top: 2rem;
}
.img-column-right {
  text-align: right;
}
