.styles-hero-img {
  width: 500px;
  height: auto;
  border: 1px solid black;
}
.styles-hero-img-screenshot {
  width: 500px;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
}
.styles-svg-col {
  margin-top: 2rem;
}
.svg-img-styles {
  border: none;
  width: 500px;
  height: auto;
}
.styles-popup-img {
  width: 500px;
  height: auto;
  border: 1px solid black;
}
