.header-navbar {
  background-color: #004880;
  color: white;
}
.navbar-color {
  color: white;
}
.navbar-color:hover {
  color: white;
}
.navbar-color::after {
  color: white;
}
.nav-para {
  color: white;
}
